* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Ruda", sans-serif; }
  * a {
    color: black; }

.header .bg-personalizado {
  background: linear-gradient(311deg, red 0%, #f5ff00 100%); }

.header .navbar {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: center;
  align-content: center; }
  .header .navbar div a .logo {
    border-radius: 100%; }
  .header .navbar .tituloHeader {
    font-size: 25px;
    font-weight: 700; }

.loginSite {
  background-image: url("../../imagenes/Foto-de-Valen-Vitolla-1-750x536.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .loginSite .titulo {
    margin: 50px;
    font-weight: 700;
    padding: 15px;
    background-color: rgba(22, 21, 21, 0.517);
    border: solid black 1px;
    border-radius: 15px;
    color: #ffe100; }
  .loginSite .loginBox {
    background-color: rgba(22, 21, 21, 0.517);
    padding: 50px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: fit-content;
    border: solid rgba(255, 255, 255, 0.527) 2px; }
    .loginSite .loginBox .tituloLogin {
      margin-top: 15px;
      text-align: center;
      color: #ffe100; }
    .loginSite .loginBox .formulario {
      display: flex;
      align-self: center;
      flex-direction: column;
      align-items: center;
      padding: 15px; }
      .loginSite .loginBox .formulario .boton {
        background-color: #dfe1df;
        font-weight: 500;
        padding: 6px;
        margin: 7px;
        border-radius: 10px;
        color: black; }
      .loginSite .loginBox .formulario .inputs {
        background-color: #fcfffdd1;
        border: 0.5px solid black;
        padding: 5px;
        border-radius: 15px;
        display: block;
        width: 100%;
        margin: 0px 0px 15px 0px; }
        .loginSite .loginBox .formulario .inputs::placeholder {
          color: black;
          font-weight: 400; }
        .loginSite .loginBox .formulario .inputs:focus {
          background-color: #fafafa; }
        .loginSite .loginBox .formulario .inputs:hover {
          background-color: #fafafa;
          transition: 1ms; }
      .loginSite .loginBox .formulario .label {
        font-weight: bold;
        color: #fafafa;
        padding: 3px; }

.mainBox {
  background-image: url("../../imagenes/GUARDAVIDAS2-696x461.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 2rem; }
  .mainBox .caja-formulario {
    background-color: rgba(255, 0, 0, 0.748);
    padding: 1rem;
    border-radius: 20px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    min-width: fit-content;
    border: #fafafa solid 1px; }
    .mainBox .caja-formulario .tituloForm {
      color: #ffd000;
      font-weight: bold;
      text-align: center; }
    .mainBox .caja-formulario .boton {
      background-color: #dfe1df;
      font-weight: 500;
      padding: 4px;
      border-radius: 10px;
      color: black;
      margin: 10px 5px 10px 5px; }
      .mainBox .caja-formulario .boton:hover {
        transform: scale(1.05, 1.05);
        font-weight: 600;
        color: black; }
    .mainBox .caja-formulario .inputs {
      background-color: #fcfffdd1;
      border: 0.5px solid black;
      padding: 5px;
      border-radius: 15px;
      display: block;
      width: 100%; }
      .mainBox .caja-formulario .inputs::placeholder {
        color: black;
        font-weight: 400; }
      .mainBox .caja-formulario .inputs:focus {
        background-color: #fafafa; }
      .mainBox .caja-formulario .inputs:hover {
        background-color: #fafafa;
        transition: 1ms; }
    .mainBox .caja-formulario .label {
      font-weight: bold;
      color: #fafafa;
      padding: 3px; }
  .mainBox .bg-grafico {
    background-color: goldenrod; }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(311deg, red 0%, #f5ff00 100%); }
  .footer .sociales .listaFooter {
    display: flex;
    padding: 10px; }
    .footer .sociales .listaFooter .social {
      padding: 10px; }
  .footer .logoFooter a .logo {
    border-radius: 100%;
    align-self: center;
    margin-left: 44px; }
  .footer .logoFooter .tituloFooter {
    font-size: 20px;
    font-weight: 700;
    align-self: center; }
