* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Ruda", sans-serif; }
  * a {
    color: black; }

.loginSite {
  background-image: url("../../imagenes/Foto-de-Valen-Vitolla-1-750x536.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .loginSite .titulo {
    margin: 50px;
    font-weight: 700;
    padding: 15px;
    background-color: rgba(22, 21, 21, 0.517);
    border: solid black 1px;
    border-radius: 15px;
    color: #ffe100; }
  .loginSite .loginBox {
    background-color: rgba(22, 21, 21, 0.517);
    padding: 50px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: fit-content;
    border: solid rgba(255, 255, 255, 0.527) 2px; }
    .loginSite .loginBox .tituloLogin {
      margin-top: 15px;
      text-align: center;
      color: #ffe100; }
    .loginSite .loginBox .formulario {
      display: flex;
      align-self: center;
      flex-direction: column;
      align-items: center;
      padding: 15px; }
      .loginSite .loginBox .formulario .label {
        font-weight: 400;
        font-size: larger;
        color: white; }
      .loginSite .loginBox .formulario .inputStyle {
        border-radius: 5px;
        border: solid white 2px;
        padding: 5px;
        margin: 5px; }
      .loginSite .loginBox .formulario .boton {
        margin-top: 10px; }
