.mainBox {
    background-image: url('../../imagenes/GUARDAVIDAS2-696x461.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 2rem;


    .caja-formulario {
        background-color: rgba(255, 0, 0, 0.748);
        padding: 1rem;
        border-radius: 20px;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        min-width: fit-content;
        border: #fafafa solid 1px;

        .tituloForm {
            color: rgb(255, 208, 0);
            font-weight: bold;
            text-align: center;
        }

        .boton {
            background-color: #dfe1df;
            font-weight: 500;
            padding: 4px;
            border-radius: 10px;
            color: black;
            margin: 10px 5px 10px 5px;

            &:hover {
                transform: scale(1.05, 1.05);
                font-weight: 600;
                color: black;
            }
        }

        .inputs {
            background-color: #fcfffdd1;
            border: 0.5px solid black;
            padding: 5px;
            border-radius: 15px;
            display: block;
            width: 100%;
            
            &::placeholder {
                color: rgb(0, 0, 0);
                font-weight: 400;
            }

            &:focus {
                background-color: #fafafa;
            }

            &:hover {
                background-color: #fafafa;
                transition: 1ms;
            }

        }

        .label {
            font-weight: bold;
            color: #fafafa;
            padding: 3px;
        }
    }

    .bg-grafico{
        background-color: goldenrod;
    }
}